@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body{
    color: rgb(13, 13, 14);
    padding-top: 50px;
    font-family: 'Inconsolata', monospace;
    background: #757474;
    font-size: x-large;
    background-image: url('./src/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    text-align:center; 
    font-size: 40px;
    font-family:Serif;
    font-weight: bold;
}

p {
    text-align:left;
    }

button {
    padding: 12px 32px 12px 32px;
    background: rgb(117, 210, 238);   
    margin: auto;
    font-size: large ;
 }

 .button-submit{
     padding-top: 60px;
     display: flex;
 }

 a{
     color: rgb(13, 13, 14);
     text-decoration: none;
 }

 form {
    max-width: 200px;
    margin: 15px auto;
    padding: 10px 20px;
    background: #2e2d2d;
    border-radius: 8px;
    color: #FFF;
    font-size: x-large;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="email"],
  
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 9px;
    width: 100%;
    background-color: #e8eeef;
    color: #050505;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    border-radius: 3%;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 3px 8px 0;
  }

  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  @media screen and (min-width: 380px) {
  
    form {
      max-width: 380px;
    }
  
  }
